doctype html
html 
    head 
        title MAIN
        meta(charset="utf-8")
    body 
        if !user
           a(href='/auth/github') login with github
        else 
            p #{user}
            |  
            a(href='/auth/logout') logout