doctype html
html 
    head 
        title SIGN UP
        meta(charset="utf-8")
    body 
        h1 
            a(href="/") MAIN 
        form(action="/user/create" method="post")
            p
                input(type="text" name="id")
            p 
                input(type="password" name="password")
            p
                input(type="submit") 